<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список форм</title>
</head>
<body>
<h1>Список форм</h1>
<ul>
    {% for form in forms %}
    <li>
        <strong>Имя:</strong> {{ form['name'] }}<br>
        <strong>Email:</strong> {{ form['email'] }}<br>
        <strong>Категория:</strong> {{ form['category'] }}<br>
        <a href="{{ url_for('view_form', index=loop.index0) }}">Просмотреть</a>
    </li>
    <hr>
    {% endfor %}
</ul>
</body>
</html>
